@import '~nativescript-theme-core/css/core.light.css';

.layout {
  background-image: url("~/assets/img/layout.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

button {
  background-color: #f4f4f4;
  height: 55;
  color: cadetblue;
  font-size: 20;
  font-weight: bold;
}
